#networkmanager_connections,
#networkmanager_connect {
  display: none;
}
#networkmanager_connections.active,
#networkmanager_connect.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
